[submodule "themes/volantis"]
	path = themes/volantis
	url = https://github.com/spcookie/hexo-theme-volantis.git
[submodule "cdn/static"]
	path = cdn/static
	url = https://github.com/spcookie/static.spcookie.github.io.git
