.l_header
  @media screen and (max-width: $device-2k)
    left: 0 !important
    border-radius: 0 !important
    max-width: 100% !important
    
.article a:not([class]):not([data-fancybox]),
.content > a
  position: relative
  text-decoration: none
  &:before
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px
    height: 1px
    width: 100%
    background: #ff5722
    transform: scale(0)
    transition: all 0.24s
  &:hover:before
    transform: scale(1)

// 标题样式
#post-body
  & h1,h2,h3,h4,h5,h6
    font-weight: 700
    background: linear-gradient(to bottom,transparent 60%,rgba(189,202,219,.3) 0) no-repeat
    display: initial
    width: auto !important
    border-bottom: none
  & h2
    font-weight: 700
  & h3
    font-weight: 500
  & h4,h5,h6
    font-weight: 300

// 标题样式
h1.title
  position: relative
  margin: 10px
  text-align: center
  font-size: 2rem !important
  font-weight: 600
  font-family: $fontfamily-logo
h1.title:after
  content: ""
  display: block
  position: absolute
  border-top: 3px double var(--color-h1)
  height: 3px
  width: 15rem
  max-width: 80%
  left: 50%
  transform: translateX(-50%)

h1.title.common_read_h1
  text-align: center !important
  font-size: 2.5rem !important

// 设置code样式
code
  &:not([class])
    font-size: .8125rem
    padding: 4px
    font-weight: 600
    background: var(--color-codeblock)
    border-radius: 0.4em !important

// 覆盖代码块背景色
:not(pre) > code[class*="language-"], pre[class*="language-"]
    background: var(--color-block) !important

// prismjs主题文本颜色统一
code[class*=language-], pre[class*=language-]
    color: var(--color-text) !important

// 序号缩进增加
.md ol
    margin-left: 20px !important

// 代码块行号和语言类型固定
pre[class*=language-].line-numbers, pre[class*=language-].line-numbers>code
   position: static !important

.line-numbers .line-numbers-rows
    top: 16px !important
    left: 0 !important
    background-color: var(--color-block) !important
    background-clip: content-box !important
    border-left: 1px solid transparent !important